<?php

declare(strict_types=1);

use Rector\Config\RectorConfig;
use Rector\Set\ValueObject\SetList;

return static function (RectorConfig $config): void {
    // Директорії проєкту, які варто аналізувати
    $config->paths([
        __DIR__ . '/common',
        __DIR__ . '/backend',
        __DIR__ . '/frontend',
        __DIR__ . '/console',
    ]);

    // Підключення стандартних сетів правил
    $config->sets([
        SetList::PHP_81,            // Оновлення синтаксису до PHP 8.1
        SetList::CODE_QUALITY,      // Покращення якості коду
        SetList::TYPE_DECLARATION,  // Додавання типів
        SetList::EARLY_RETURN,      // Заміна вкладених умов на ранній вихід
        SetList::DEAD_CODE,         // Видалення мертвого коду
    ]);

    // Ігнорування певних файлів та директорій
    $config->skip([
        __DIR__ . '/vendor',
        __DIR__ . '/tests',
        __DIR__ . '/runtime',
        __DIR__ . '/backend/runtime',
        __DIR__ . '/frontend/runtime',
        __DIR__ . '/console/runtime',
    ]);

    // Додає коротші імпорти класів
    $config->importNames();
};
